:root{
    --green: #7dfb4c;
    --lightblue:#72c5d6;
    --blue: #23a5be;
    --darkblue: #0a2130;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Helvetica, sans-serif;
    align-items: center;
    color: var(--darkblue);
    background-image: linear-gradient( var(--darkblue),#154852, var(--blue));
}

.logo {
    display: block;
    margin: auto;
    height: auto;
    width: 500px;
    margin-bottom: 60px;
}

.container{
    border: 2px solid var(--green);
    color: var(--lightblue);
    display: block;
    padding: 30px;
    margin: 0px 5% 10vh;
    background-color: var(--darkblue);
    width: 90%;
    box-shadow: 0 0 25px var(--green);
    text-align: center;
}

.line_container{
    border: 1px solid var(--lightblue);
}

.grid_container{
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2, 48%);
    column-gap: 4%;
    row-gap: 40px;
}

.card{
    color: var(--darkblue);
    word-break: break-all;
    border: 2px solid var(--darkblue);
    background-color: var(--lightblue);
    transition: 0.3s;
}

.card:hover{
    border: 2px solid var(--green);
    box-shadow: 0 0 10px var(--green);
}

.line_card {
    border: 1px solid var(--darkblue);
    margin: auto;
    width: 95%;
}

.nome_data, .personagens {
    padding: 20px;
} 

ul{
    margin-left: 25px;
    display: inline-block;
    width: 25%;
}