:root {
    --green: #7dfb4c;
    --lightblue:#72c5d6;
    --blue: #23a5be;
    --darkblue: #0a2130;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Helvetica, sans-serif;
    align-items: center;
    color: var(--darkblue);
    background-image: linear-gradient( var(--darkblue),#154852, var(--blue));
}

.logo {
    display: block;
    margin: auto;
    height: auto;
    width: 500px;
    margin-bottom: 60px;
}

.container {
    border-radius: 8px;
    border: 2px solid var(--green);
    color: var(--lightblue);
    display: block;
    padding: 30px;
    margin: 0px 5% 10vh;
    background-color: var(--darkblue);
    width: 90%;
    box-shadow: 0 0 25px var(--green);
    text-align: center;
}

.title {
    margin-bottom: 20px;
}

.filter-name {
    padding: 4px;
    border-radius: 4px;
    border: 2px solid var(--darkblue);
    color: var(--darkblue);
    background-color: var(--lightblue);
    transition: 0.3s;
}

.filter-name::placeholder {
    color: #0a2130be;
}

.pagination {
    display: flex;
    justify-content: center;
}

.page, .filter-button{
    cursor: pointer;
    width: 50px;
    padding: 5px;
    margin: 20px 2px;
    border-radius: 16px;
    border: 2px solid var(--lightblue);
    color: var(--lightblue);
    background-color: var(--darkblue);
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.filter-button {
    margin: 20px 2px 0px;
}

.next, .previous {
    width: 100px;
}

.selected {
    color: var(--darkblue);
    background-color: var(--lightblue);
}

.page:hover, .filter-button:hover, .filter-name:hover {
    box-shadow: 0 0 4px var(--green);
    border: 2px solid var(--green);
    color: var(--darkblue);
    background-color: var(--lightblue);
}


.container-line {
    border: 1px solid var(--lightblue);
}

.grid-container {
    display: grid;
    margin : 20px 0px;
    text-align: left;
    grid-template-columns: repeat(2, 48%);
    column-gap: 4%;
    row-gap: 20px;
}

.loader {
    margin: 40px auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--lightblue);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { box-shadow: 0 0 20px var(--green); }
    100% { transform: rotate(360deg); }
}

.small-loader {
    margin: auto 32px;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--lightblue);
    color: var(--lightblue);
    animation: dotFlashing .4s infinite linear alternate;
    animation-delay: .2s;
}
  
.small-loader::before, .small-loader::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}
  
.small-loader::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--lightblue);
    color: var(--lightblue);
    animation: dotFlashing .4s infinite alternate;
    animation-delay: 0s;
}
  
.small-loader::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--lightblue);
    color: var(--lightblue);
    animation: dotFlashing .4s infinite alternate;
    animation-delay: .4s;
}
  
@keyframes dotFlashing {
    0% { background-color: var(--lightblue); }
    100% { background-color: var(--darkblue); }
} 

.card {
    border-radius: 8px;
    color: var(--darkblue);
    text-align: justify;
    border: 2px solid var(--darkblue);
    background-color: var(--lightblue);
    transition: 0.3s;
    padding: 20px;
}

.card:hover {
    border: 2px solid var(--green);
    box-shadow: 0 0 10px var(--green);
}

.line-card {
    border: 1px solid var(--darkblue);
    margin: auto;
    width: 100%;
}

.name-date {
    margin-bottom: 20px;
}

h4 {
    margin-top: 20px;
}

.characters {
    display: flex;
    flex-direction: row;
    max-height: 200px;
    overflow-y: auto;
}

ul {
    margin-left: 25px;
    width: 40%;
}

li {
    margin-top: 4px;
}

.error {
    margin-top: 20px;
}